body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
    color: #444444;
}

ul {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    
}


.nav-bar {
    width: 100vw;
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

section {
    display: block;
}


.header {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding-right: 300px;
    font-size: 20px;
    color: #444444;
}

.about-me-block {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.about-me-container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-me-title {
    line-height: 68px;
    font-size: 2em;
    color: #444444;
    margin-bottom: 100px;
    text-shadow: 1px 1px 1px #78877E;
}

.current-job-section {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.current-job-container {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
}

.current-job-section {
    margin-left: auto;
    margin-right: auto;
}



#nav-tags:hover {
    color: #EF2010;
}

.header a {
    text-decoration: none;
    color: #232323;
    padding-right: 20px;
}

.line-space {
    width: 70%;
    border: 0;
    height: 1px;
    background: white;
    background-image: linear-gradient(to right, rgba(0,0,0,0), grey, #10dfef, grey, rgba(0,0,0,0));
}



#transform-this {
    transition: all .5s ease-in-out;
    color: #10dfef;
}

#transform-this:hover {
    color: #EF2010;
    transform: scale(1.1);
}



.header ul {
    display: block;
}








