/* Main HTML settings */
body {
    background: url('/BusinessImages/main-back.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    height: 100px;
    min-width: 100%;
    background-image: linear-gradient(#00143e, #00388c);
    vertical-align: baseline;
    color: white;
}

/* Main wrapper settings */
.main-wrapper {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    padding-bottom: 15px;
    background: #afafaf;
}

/* Content box settings */
.content-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .3%;
    height: 80vh;
    /* width: auto; */
}

.content-box  a {
    color: white;
}

/* All grid settings */
.road-grid, .mountain-grid, .hybrid-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 3em;
}

/* Road grid settings */
.road-grid {
    background-image: url('/BusinessImages/road.jpg');
    background-size: cover;
    max-width: 100%;
}

/* Mountin grid settings */
.mountain-grid {
    background: url('/BusinessImages/mountain.jpg');
    background-size: cover;
}

/* Hybrid grid settings */
.hybrid-grid {
    background: url('/BusinessImages/hybrid.jpg');
    background-size: cover;
}

/* Footer settings */
.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 20px;
    border-top: 5px solid #00143e;
    padding-top: 5px;
    justify-items: center;
}

.footer a:hover {
    color: black;
}

.contact-text, .service-text, .shop-text, .connect-text {
    font-size: 1.5em;
    font-weight: bold;
}

/* Contact grid settings */
.contact-text {
    grid-column: 1/2;
}

.number {
    grid-row: 2/3;
}

.email {
    grid-row: 3/4;
}

.hours {
    grid-row: 4/5;
}

/* Service grid settings */
.service-text, .maintenance, .tune-up, .repair {
    grid-column: 2/3;
}

/* Shop grid settings */
.shop-text, .frames, .tires, .accessories, .apparel {
    grid-column: 3/4;
}

.shop-text {
    grid-row: 1/2;
}

.frames {
    grid-row: 2/3;
}

.tires {
    grid-row: 3/4;
}

.accessories {
    grid-row: 4/5;
}

.apparel {
    grid-row: 5/6;
}

/* Connect grid settings */
.connect-text, .facebook, .instagram, .twitter {
    grid-column: 4/5;
}

.connect-text {
    grid-row: 1/2;
}

.facebook {
    grid-row: 2/3;
}

.instagram {
    grid-row: 3/4;
}

.twitter {
    grid-row: 4/5;
}



/* Pseudo-classes */

.content-box div:hover {
    background-color: rgba(255,255,255, 0.4);
    background-blend-mode: lighten;
}

.content-box div:hover a {
    color: #191919;
}

@media screen and (max-width: 900px) {
    .content-box {
        display: none;
    }

    .content-box {
        display: flex;
        flex-flow: column nowrap;
    }

    .content-box > div {
        flex: 1;
    }

}

@media screen and (max-width: 555px) {
    .content-box {
        display: none;
    }

    .content-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main-wrapper {
        padding: 0;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        justify-items: center;

    }

    .contact-text, .service-text, .shop-text, .connect-text {
        font-size: 1em;
        font-weight: bold;
    }
}

@media screen and (max-width: 414px) {
    .main-wrapper {
        height: 100%;
        width: 100%;
    }

    .content-box {
        display: flex;
    }

}