@media screen and (max-width: 414px) {

    body {
        margin: 0;
        background: #424242;
    }
    .container {
        height: 10vh;
        width: 100vw;
        background: #232323;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-items a {
        text-decoration: none;
        color: #31bf7d;
        cursor: pointer;
        font-size: 20px;
        padding-left: 10px;
    }

}


