body {
    margin: 0;
}

ul {
    list-style-type: none;
}

/* .nav-bar {
    margin: 0;
    width: 100vw;
} */

.header {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding: 10px 15px;
    font-size: 20px;
}

.container {
    width: 100vw;
    height: auto;
}

.cont-title {
    position: absolute;
    top: 175px;
    left: 150px;
}

.header ul {
    display: block;
}


.header a {
    text-decoration: none;
    color: #232323;
    padding-right: 20px;
}




























@media screen and (max-width: 414px) {

    body {
        background: #424242;
        margin: 0;
    }
    .container {
        height: 10vh;
        width: 100vw;
        background: #232323;
        /* position: fixed; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-items a {
        text-decoration: none;
        color: #31bf7d;
        cursor: pointer;
        font-size: 20px;
        padding-left: 10px;
    }

    .about-wrapper {
        border: 1px solid black;
        height: 80vh;
        width: 100vw;
    }

    .intro {
        color: #31bf7d;
        text-align: center;
    }

    /* .about-me {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 80vh;
        width: 90vw;
        border: 1px solid black;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 10px;
    } */

}


