body {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", Helvetica, Arial, sans-serif;
    color: #444444;

}

ul {
    list-style-type: none;
    
}

a {
    text-decoration: none;
    color: #10dfef;
}

/* -- Nav bar settings -- */
#nav-tags:hover {
    color: #EF2010;
}

.header ul {
    display: block;
}

.nav-bar {
    width: 100vw;
    display: block;
    padding-top: 25px;
    padding-bottom: 25px;
    
}

.header {
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding-right: 300px;
    font-size: 20px;
    color: #444444;
}

.header a {
    text-decoration: none;
    color: #232323;
    padding-right: 20px;
}

.line-space {
    width: 70%;
    border: 0;
    height: 1px;
    background: white;
    background-image: linear-gradient(to right, rgba(0,0,0,0), grey, #10dfef, grey, rgba(0,0,0,0));
}

.main-container {
    display: flex;
    flex-flow: row wrap;
}

.about-me-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    height: 75vh;
    margin-top: 50px;
    flex-flow: row wrap;
    align-items: center;
    background:rgba(56,255,255,0.1);
    border-radius: 10px;
}

.contact-me-container {
    margin-top: 2em;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid  #ccc;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
    margin-bottom: 1em;
}



label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border: #000;
}

textarea {
    vertical-align: top;

    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}





